{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
 {% trans 'Prédications écrites' %}
{% endblock title %}

{% block breadcumb %}
<ol class="breadcrumb"><li><a href="/{{ lang }}">{% trans 'Accueil' %}</a></li>
    <li class="active"><span>{% trans 'Prédications écrites' %}</span></li>
    </ol>
{% endblock breadcumb %}

{% block wrapper %}

{% endblock wrapper %}

{% block content %}
<div class="grid_12">
<section class="page-section predications-ecrites">
    <h1 class="page-header">{% trans 'Prédications écrites' %}</h1>
    <div class="page-content">
        <aside>
            <p>
                <a href=""><span class="fa fa-question-circle"></span>{% trans 'Aide pour la lecture dans la recherche des sermons' %}</a>
            </p>
            <nav class="bg-gray text-uppercase padding bg-gray">
                <ul class="list-unstyled list">
                    
                </ul>
                                
            </nav>
        </aside>


        <form class="form-search padding bordered bordered-gray" role="search" action="{% url 'result' lang %}">
            <div class="form-line clearfix push_3">
                <div class="grid_2 alpha">
                    <label for="keyword">{% trans 'Rechercher une prédication' %}</label>
                </div>
                <div class="input-box grid_4 omega">
                    <input type="search" name="search" placeholder="{% trans 'Entrez un mot-clé' %}" autocomplete="off" required="">
                    <div class="results-wrapper"></div>
                </div>
                <div class="grid_2 alpha omega">
                    <button  type="submit" class="form-btn btn-black"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </form>

        
        <nav class="">
            <ul class="cd-pagination clearfix">
                {% if predications.has_previous %}
                <li class="button"><a class="prev-btn" href="?page={{ predications.previous_page_number }}">{% trans 'Préc' %}</a></li>
                {% endif %}
                {% for pg in predications.paginator.page_range %}
                    {% if predications.number == pg %}
                    <li><a class="current" href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if predications.has_next %}
                <li class="button"><a href="?page={{ predications.next_page_number }}" class="next-btn">{% trans 'Suiv' %}</a></li>
                {% endif %}
                <li class="button"><a href="?page={{ paginator.num_pages }}" class="last active">{% trans 'Dernier' %}</a></li>
            </ul>
        </nav>

        
        <table class="table table-condensed small">
            <thead>
                <tr> 
                   <th>{% trans 'Chapitre' %}</th>
                   <th>{% trans 'Titre' %}</th>
                   <th>{% trans 'Télécharger' %}</th> 
                   <th>{% trans 'Ecouter' %}</th>  
                          
                </tr>
            </thead>
            <tbody>
                
                {% for pred in predications %}
                    
                    <tr class="{% cycle 'row-odd' 'row-even' %}">
                        <td>{{ pred.chapitre }}</td>
                        <td><a href="{% url 'predication' lang pred.numero %}">{{ pred.titre }}</a></td>
                        <td>
                            <a href="{% url 'predication' lang pred.numero %}" title="Télécharger">PDF</a>
                        </td>
                        <td>


                            <iframe width="100%" height="70" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{ pred.lien_audio }}&color=%23915d22&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/kacou-philippe-proph-te" title="Prophète Kacou Philippe" target="_blank" style="color: #cccccc; text-decoration: none;"></a> <a href="https://soundcloud.com/kacou-philippe-proph-te/kacou-80-version-wolof" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>                           
                            <!-- <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{ pred.lien_audio }}&color=%23915d22&inverse=false&auto_play=false&show_user=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/kacou-philippe-proph-te" title="Prophète Kacou Philippe" target="_blank" style="color: #cccccc; text-decoration: none;"></a> <a href="https://soundcloud.com/kacou-philippe-proph-te/kacou-143-oracles-du-prophete-kacou-philippe-sur-lhomosexualite" title="Kacou 143: Oracles du Prophète Kacou Philippe sur l’homosexualité" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>-->
                    </td> 
                    </tr>
                
                {% endfor %}
            </tbody>
        </table>


       <nav class="">
            <ul class="cd-pagination clearfix">
                {% if predications.has_previous %}
                <li class="button"><a class="prev-btn" href="?page={{ predications.previous_page_number }}">{% trans 'Préc' %}</a></li>
                {% endif %}
                {% for pg in predications.paginator.page_range %}
                    {% if predications.number == pg %}
                    <li><a class="current" href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if predications.hasnext %}
                <li class="button"><a href="?page={{ predications.next_page_number }}" class="next-btn">{% trans 'Suiv' %}</a></li>
                {% endif %}
                <li class="button"><a href="?page={{ paginator.num_pages }}" class="last active">{% trans 'Dernier' %}</a></li>
            </ul>
        </nav>

    </div>
</section>
</div>
{% endblock content %}

{% block sidebar %}

{% endblock sidebar %}