{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{{ predications.titre }}
{% endblock title %}

{% block breadcumb %}
<ol class="breadcrumb">
    <li><a href="/{{ lang }}">{%  trans 'Acceuil' %}</a></li>
    <li><a href="/{{ lang }}/predications">{%  trans 'Prédications écrites' %}</a></li>
    <li class="active"><span>{{ predications.titre }}</span></li>
</ol>
{% endblock breadcumb %}

{% block wrapper %}

{% endblock wrapper %}

{% block content %}

<div class="main-content grid_12 no-sidebar">
	
	<article class="entry predications pred-1" id="invoice">
		<header class="entry-header clearfix">
            <h1 class="entry-title title pull-left pred-title">
                <span class="chapter-name">{{ predications.chapitre }}</span> : <span class="chapter-title">{{ predications.titre }}</span>
            </h1>
            <div class="actions pull-right small" id="esc">
                <ul class="clearfix">
                    <iframe width="100%" height="70" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{ predications.lien_audio }}&color=%23915d22&inverse=false&auto_play=false&show_user=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/kacou-philippe-proph-te" title="Prophète Kacou Philippe" target="_blank" style="color: #cccccc; text-decoration: none;"></a> <a href="https://soundcloud.com/kacou-philippe-proph-te/kacou-143-oracles-du-prophete-kacou-philippe-sur-lhomosexualite" title="Kacou 143: Oracles du Prophète Kacou Philippe sur l’homosexualité" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
					<li class="social-li">
					
						<div class="buttons">
							</div>
					</li>
                </ul>
            </div>
        </header>
        <footer class="entry-details text-muted le">
		<p>{{ predications.sous_titre }}</p>
        </footer>
        <div class="entry-content just" >

			<div class="entry-body">
				{% for verset in versets %}
					<p><strong>{{ verset.numero }}</strong>
						{{ verset.contenu }}
					</p>
				{% endfor %}
				<p><strong><em>&nbsp;&nbsp;</em></strong><strong><em>{{ predications.similar_sermon }}</em></strong></p><p>&nbsp;</p>
			</div>  
        </div>
        <div class="actions" id="esc1">

        	<ul class="actions-list">
				<!-- <button class="btn btn-primary" id="download"> download pdf</button> -->
        		<li>
                    <p class="action-label" >{%  trans 'Télécharger le fichier PDF' %}</p>
        			<a type="button" title="Télécharger"  onclick="document.title = '{{ predications.chapitre }} : {{ predications.titre }}';printForm()">
        				Version PDF
        			</a>
        		</li>
        		<li>
        			<p class="action-label">{%  trans '' %}</p>
                            			<div class="buttons">
	        					        			<a href="https://www.philippekacou.org/file/download?id=1&amp;type=mp3&amp;cat=predication" title="Télécharger">
		        				
		        			</a>
	        				        			        			</div>
                            		</li>
        		<li>
        			<p class="action-label">{%  trans 'Ecouter' %}</p>
					<iframe width="50%" height="70" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{ predications.lien_audio }}&color=%23915d22&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/kacou-philippe-proph-te" title="Prophète Kacou Philippe" target="_blank" style="color: #cccccc; text-decoration: none;"></a> <a href="https://soundcloud.com/kacou-philippe-proph-te/kacou-80-version-wolof" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>                     
                            		</li>
        		<li>
        			<p class="action-label">{%  trans '' %}</p>
        			<div class="buttons">
        				</div>
        		</li>
        	</ul>
        </div>
			<aside class="entry-related-links" id="esc2">
				<nav class="small">
                    <ul class="clearfix list-unstyled">
                        <li class="pull-left">
                            <a href="{% url 'predication' lang pred_prev %}" rel="prev">{{ pred_prevo.titre }}</a>
                        </li>
                        <li class="pull-right">
                            <a href="{% url 'predication' lang pred_next %}" rel="next">{{ pred_nexto.titre }}</a>
                        </li>
                    </ul>
					<!-- <ul class="clearfix list-unstyled">
																	<li class="spull-right">
								<a href="{% url 'predication' lang pred_next %}" rel="next">Prédication suivante</a>
							</li>
										</ul> -->
				</nav>
        	</aside>
		</article>

</div>

<!-- <button type="button" onclick="printForm()">
    Print Form
 </button> -->



<script>
function printForm() {
	printJS({
        printable: 'invoice',
		type: 'html',
		style: ".pred-title {text-align: center !important;} .le {text-align: center;} .just {text-align: justify;}",
		ignoreElements: ['esc', 'esc1', 'esc2'],
		documentTitle: '{{ predications.chapitre }} : {{ predications.titre }}',
		
    })
	
}
</script>


{% endblock content %}














